/HT_10/create_database.py
/testing
.idea
/testing/atm_test/atm_3,1
/testing/atm_test/atm_new
/HT_12/transaction.py
/HT_13/text.txt

__pycache__/
.vscode
venv
django_products_scraper/db.sqlite3
.idea


venv/
.pylintrc
*.pyc

db.sqlite3